snippet cc "component without props" 
export function $1() {
	return (
		<></>
	);
}
endsnippet

snippet cp "component with props" 
interface $1Props {
}

export function $1(props: $1Props) {
	const {  } = props;

	return (
		<></>
	);
}
endsnippet

snippet um "use memo" 
const $1 = useMemo(() => {
	
}, []);
endsnippet

snippet uc "use callback" 
const $1 = useCallback(($2) => {
	
}, []);
endsnippet
